@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

html {
    background-color: #EFD8C6;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: white;
}

body {
    padding-left: 6.5vh;
}