.full-dash {
  border: transparent;
  min-height: 97vh;
  background-color: white;
  border-radius: 20px;
}

.Graph {
  border: transparent;
  width: 40vw;
  background-color: black;
  border-radius: 20px;
}