.full-dash {
  border: transparent;
  min-height: 100vh;
  background-color: white;
  border-radius: 20px;
}

.Graph {
  border: transparent;
  width: 40vw;
  background-color: black;
  border-radius: 20px;
  margin: 15px;
}

.chart {
  border: 1px solid red;
  height: 100%;
  border-radius: 10px;
  margin: 15px;
}