.features-sg {
  margin-bottom: 5vh;
  font-family: 'Merriweather', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.features-header-sg {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 5vh;
  text-align: center;
}

.features-point-sg {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 1rem;
  margin: .5rem;
  min-height: 15vh;
  border-radius: 20px;
  font-size: 1rem;
  min-height: 20vh;
}

.features-desc-sg {
  color: rgb(62, 62, 62);
}