.problem-sg {
  margin-top: 2vh;
  margin-bottom: 15vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem;
  border-radius: 20px;
  font-family: 'Merriweather', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.problem-header-sg {
  font-size: 2rem;
  color: #262626;
  text-align: center;
  font-weight: 400;
}