.tech-container-sg {
  text-align: center;
  font-weight: 800;
  font-family: 'Merriweather', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2rem;
   color: rgb(48, 48, 48);
}

@media only screen and (max-width: 600px) {
  .tech-container-sg {
    margin-left: 7vh;
  }
}